<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.css">
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="container">

        <form method="post" th:action="@{/book/create2}" th:object="${book}">
            <div class="row">
            <div class="form-group col-6">
                <label for="title">Title:</label>
                <input id="title" type="text" th:field="*{title}"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label for="author">Author</label>
                <input id="author" type="text" th:field="*{author}"/>
                <span th:if="${#bools.isTrue(#fields.hasErrors('author'))}" th:errors="*{author}" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label for="publisher">Publisher</label>
                <input id="publisher" type="text" th:field="*{publisher}"/>
            </div>
            <div class="form-group col-6">
                <label for="pages">Pages</label>
                <input id="pages" type="number" th:field="*{pages}"/>
            </div>
            <div class="form-group col-6">
                <label for="isbn">ISBN</label>
                <input id="isbn" type="text" th:field="*{isbn}"/>
            </div>
                <div >
                    <p th:if="${#fields.hasErrors('title')} or ${#fields.hasErrors('author')} and 1==1" th:text="${#fields.errors()}" class="text-danger"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>


</div>
</body>
</html>